.skils-app {
  text-align: center;
  font-family: Arial, sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ttl {
  width: 100px;
}

.bar {
  background-color: #f0f0f0;
  height: 2.5rem;
  width: 25rem;
  margin-left: 10px;
}

.fill {
  background-color: #26c17e;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: white;
  font-weight: bold;
}

.skill-btn {
  display: inline-flex;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #222935;
  color: white;
  font-size: 1rem;
  border: none;
  outline: none;
  margin-left: 2rem;
}

.skill-btn:hover {
  background: #26c17e;
}

.skill-inp {
  display: inline-flex;
  height: 40px;
  padding: 10px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  outline: none;
  border: 1px solid #555;
}
