.title {
  color: #26c17e;
  font-size: 25px;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 2.5rem;
}
.content {
  margin-top: 2.5rem;
  font-size: 14px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}
